/* Modal Styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: 15px;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 500px;
    max-height: 80vh; /* Limits height to 80% of viewport */
    overflow-y: auto; /* Enables scroll within modal if content overflows */
    box-sizing: border-box;
    border-radius: 8px;
    position: relative;
}

/* Close Button Styling */
.modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.2em;
    color: #aaa;
    cursor: pointer;
    border-radius: 50%;
    width: 30px; /* Fixed width for a clear circle */
    height: 30px; /* Fixed height for a clear circle */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Close Button Hover Effect */
.modal-close:hover {
    color: #fff;
    background-color: red; /* Red circle background on hover */
}